@font-face {
    font-family: 'yekan';
    src: url('Yekan.eot') format('embedded-opentype'),
          url('Yekan.woff') format('woff'),
          url('Yekan.ttf') format('truetype'),
          url('Yekan.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family:"yekan";
 }
