
<form [formGroup]="addressForm" novalidate>
  <!--<mat-card class="mt-2">-->
  <mat-card-header dir="rtl">
    <mat-card-title class="text-center">فراموش کردن رمز</mat-card-title>
  </mat-card-header>
  <mat-card-content dir="rtl">


    <div class="row">
      <div class="col">

        <mat-form-field class="">

          <input matInput placeholder="ایمیل" formControlName="email">
          <mat-error *ngIf="addressForm.controls['email'].hasError('required')" class="text-right">
            ایمیل خود را  <strong>وارد نمائید</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" class=" mt-4">دریافت رمز</button>
  </mat-card-actions>
  <!--</mat-card>-->
</form>
